@model FoodieStore.Models.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row justify-content-md-center">
        @using (Html.BeginForm("EditSubmitProduct", "Product", FormMethod.Post, new { id = "editForm" }))
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal" style="margin-top: 120px;">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ProductId)
            <div class="form-group">
                @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ProductPrice, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.ProductPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductPrice, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.ImagePath, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Category.CategoryId, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    <select name="CategoryId" class="CategoryId">
                        <option value="1">Ποτά</option>
                        <option value="2">Φαγητά</option>
                        <option value="3">Ορεκτικά</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.Category.CategoryId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div>
                <button class="btn btn-primary col-8 col-md-6">Edit</button>
            </div>
        </div>
        }
        </div>
    </div>
