@model IEnumerable<FoodieStore.Models.Product>

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 col-md-8 table-responsive" id="table-div">

    @using (Html.BeginForm())
    {
        <p>
            Find by name: @Html.TextBox("SearchString")
            <input type="submit" class="search-btn" value="Search" />
        </p>
    }
        <div class="table-wrapper-scroll">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Product
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Category
                        </th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.CategoryName)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                            @Html.ActionLink("Delete", "DeleteProduct", new { id = item.ProductId })
                        </td>
                    </tr>
                }
            </table>
        </div>
</div>
<div id="editModal" class="modal hide" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Edit Product</h2>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button id="editButton" class="btn btn-danger" type="button">Edit</button>
                <button id="cancelButton" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>